<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: head}"></head>
<body>
<header th:replace="~{base :: header}"></header>
<div class="list container">
  <H1 class="mb-3">Pessoas</H1>
  <a th:href="@{/pessoa/novaPessoaForm}" class="btn btn-primary mb-2">Add Pessoa</a>
  <table class="table table-light table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Data de Nascimento</th>
      <th scope="col">CPF</th>
      <th scope="col">Funcionário</th>
      <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr scope="row" th:each="pessoa : ${pessoaList}">
      <td th:text="${pessoa.nome}"></td>
      <td th:text="${pessoa.dataNascimento}"></td>
      <td th:text="${pessoa.cpf}" datatype="date"></td>
      <td th:text="${pessoa.funcionario}" datatype="boolean"></td>
      <td><a th:href="@{/pessoa/editarPessoaForm/{id}(id=${pessoa.idPessoa})}" class="btn btn-primary">Editar</a>
        <a th:href="@{/pessoa/deletarPessoa/{id}(id=${pessoa.idPessoa})}" class="btn btn-danger">Deletar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>